body {
    margin: 0;
    padding: 0;
}

.scroll-shadow {
    width: 540px;
    height: 100vh;
    margin: auto;
}

p {
    width: 640px;
}

.scroll-shadow--horizont {
    width: 100%;
    height: 100%; 
}

.scroll-shadow__wrapp {
    width: 100%;
    height: 100%;
    overflow: auto;
}